@model FC_CIP.Models.TablasCombinadas.FormatoSolicitudes

@{
    ViewBag.Title = "Solicitud";
    Layout = "~/Views/Shared/_Coordinador.cshtml";
}

<div class="card mt-3">
    <div class=" container-fluid text-center">
        <div class="_divRow row">
            <div class="_divCol col-10 text-center">
                <br />
                <strong class="d-flex flex-column">
                    <label>SERVICIO NACIONAL DE APRENDIZAJE</label>
                    <label>REGIONAL BOLÍVAR</label>
                    <label>CENTRO PARA LA INDUSTRIA PETROQUÍMICA</label>
                </strong>
                <br />
            </div>
            <div class="_div col-2 ">

            </div>
        </div>
        <div class="_divRow row">
            <label class="card-title mt-1"><strong>FORMACION COMPLEMENTARIA</strong></label>
        </div>

    </div>
    <div class="container-fluid _divRow-cierre">
        @*  Primera fila*@
        <div class="_divRow row">
            <label class="_divCol col-6">
                NOMBRE DEL INSTRUCTOR: <strong>@Model.userName</strong> 
            </label>
            <label class="_divCol col-3">
                CC: <strong>@Model.usua_nid</strong>
            </label>
            <label class="_divCol col-3">
                FECHA INICIO: <strong>@Model.curso_startDate.ToShortDateString()</strong>
            </label>
        </div>

        @*  Segunda fila*@
        <div class="_divRow row">
            <label class="_divCol col-6">
                CORREO ELECTRONICO:  <strong>@Model.user_email</strong>
            </label>
            <label class="_divCol col-3">
                TEL: <strong>@Model.user_phone</strong>
            </label>
            <label class="_divCol col-3">
                FECHA TERMINACION: <strong>@Model.curso_endDate.ToShortDateString()</strong>
            </label>
        </div>

        @*  Tercera fila*@
        <div class="_divRow row">
            <label class="_divCol col-6">
                PROGRAMA DE FORMACIÓN: <strong>@Model.curso_programa</strong>
            </label>
            <label class="_divCol col-4">
                CODIGO: <strong>@Model.curso_code</strong>
            </label>
            <label class="_divCol col-2">
                VERSION: <strong>@Model.curso_version</strong>
            </label>
        </div>

        @*  Cuarta fila*@
        <div class="_divRow row">
            <label class="_divCol col-6">
                AMBIENTE DE APRENDIZAJE: <strong>@Model.curso_lugar</strong>
            </label>
            <label class="_divCol col-4">
                MUNICIPIO: <strong>@Model.muni_name</strong>
            </label>
            <label class="_divCol col-2">
                DURACION: <strong>@Model.curso_duration</strong>
            </label>
        </div>

        @*  Quinta fila*@
        <div class="_divRow row">
            <label class="_divCol col-6">
                PROGRAMA ESPECIAL: <strong>@Model.pe_name</strong>
            </label>
            <label class="_divCol col-6">
                OBSERVACION: <strong>@Model.curso_note</strong>
            </label>
        </div>

        @*  Sexta fila*@
        <div class="_divRow row">
            <label class="_divCol col-6">
                TIPO DE SOLICITUD: <strong>@Model.soli_type</strong>
            </label>
            <label class="_divCol col-4">
                EMPRESA: <strong>@Model.soli_empresa</strong>
            </label>
            <label class="_divCol col-2">
                CUPO MAXIMO: <strong>30</strong>
            </label>
        </div>

        @*  Septima fila*@
        <div class="_divRow row text-center">
            <label class="col">
                DIAS DE EJECUCION DEL PROGRAMA
            </label>
            <strong class="col">@Model.curso_days</strong>
        </div>
    </div>

</div>

